<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Converter</title>
</head>
<body style="background-color:rgb(123, 181, 210)">
    <div class="container">
        <h1 class="title">
            What's the tempreture like that?
        </h1>
    </div>
    <H1>Tempreture Converter</H1>
    <form method="POST">
        Tempreture <input type="temp" name="conum"><br>
        Convert to: <<select name="Setting">
            <option value="C-->F">C to F</option>
            <option value="F-->C">F to C</option>><br>
        
        </select>
        <br>
        <input type="submit" value="convert">
    </form>
</body>
</html>